## Reading data from Different Sources

In [2]:
import pandas as pd
from io import StringIO

Data = '{"employee_name" : "James", "email" : "james@gmail.com", "job_profile" : [{"title1" : "Team Lead", "title2" : "Sr. Developer"}]}'
df = pd.read_json(StringIO(Data))

In [3]:
df

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [4]:
df.to_json()

'{"employee_name":{"0":"James"},"email":{"0":"james@gmail.com"},"job_profile":{"0":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

In [5]:
df.to_json(orient='index')

'{"0":{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

In [6]:
df.to_json(orient = "records")

'[{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}]'

In [7]:
df=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data",header=None)

In [8]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [10]:
df.to_csv("wine.csv")

In [12]:
!pip install lxml

Collecting lxml
  Downloading lxml-6.0.2-cp312-cp312-win_amd64.whl.metadata (3.7 kB)
Downloading lxml-6.0.2-cp312-cp312-win_amd64.whl (4.0 MB)
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ----- ---------------------------------- 0.5/4.0 MB 3.3 MB/s eta 0:00:02
   ---------- ----------------------------- 1.0/4.0 MB 2.3 MB/s eta 0:00:02
   ---------- ----------------------------- 1.0/4.0 MB 2.3 MB/s eta 0:00:02
   ---------- ----------------------------- 1.0/4.0 MB 2.3 MB/s eta 0:00:02
   ---------- ----------------------------- 1.0/4.0 MB 2.3 MB/s eta 0:00:02
   --------------- ------------------------ 1.6/4.0 MB 1.1 MB/s eta 0:00:03
   -------------------- ------------------- 2.1/4.0 MB 1.4 MB/s eta 0:00:02
   ---------------------------- ----------- 2.9/4.0 MB 1.6 MB/s eta 0:00:01
   ------------------------------- -------- 3.1/4.0 MB 1.7 MB/s eta 0:00:01
   ------------------------------- -------- 3.1/4.0 MB 1.7 MB/s eta 0:00:01
   --------------------------------- ------ 3.4/4.0 MB 1.5 MB/s eta 0:00:01
   --------------------------------- ------ 3.4/4.0 MB 1.5 MB/s eta 0:00:01
   ------------------------------------ --- 3.7/4.0 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 3.7/4.0 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 4.0/4.0 MB 1.2 MB/s  0:00:03
Installing collected packages: lxml
Successfully installed lxml-6.0.2

In [42]:
!pip install html5lib
!pip install beautifulsoup4
!pip install requests
!pip install openpyxl

Requirement already satisfied: html5lib in d:\ai_ml\data_analysis\venv\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in d:\ai_ml\data_analysis\venv\lib\site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in d:\ai_ml\data_analysis\venv\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: beautifulsoup4 in d:\ai_ml\data_analysis\venv\lib\site-packages (4.14.3)
Requirement already satisfied: soupsieve>=1.6.1 in d:\ai_ml\data_analysis\venv\lib\site-packages (from beautifulsoup4) (2.8.1)
Requirement already satisfied: typing-extensions>=4.0.0 in d:\ai_ml\data_analysis\venv\lib\site-packages (from beautifulsoup4) (4.15.0)
Requirement already satisfied: requests in d:\ai_ml\data_analysis\venv\lib\site-packages (2.32.5)
Requirement already satisfied: charset_normalizer<4,>=2 in d:\ai_ml\data_analysis\venv\lib\site-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in d:\ai_ml\data_analysis\venv\lib\site-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\ai_ml\data_analysis\venv\lib\site-packages (from requests) (2.6.2)
Requirement already satisfied: certifi>=2017.4.17 in d:\ai_ml\data_analysis\venv\lib\site-packages (from requests) (2025.11.12)
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [19]:
url = "https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/"
df = pd.read_html(url)

In [20]:
df[0]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
1,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
2,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,First Bank & Trust Co.,"October 18, 2024",10547
3,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
4,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
5,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
6,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
7,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
8,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
9,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
10,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
11,The First State Bank,Barboursville,West Virginia,14361,"MVB Bank, Inc.","April 3, 2020",10536
12,Ericson State Bank,Ericson,Nebraska,18265,Farmers and Merchants Bank,"February 14, 2020",10535
13,City National Bank of New Jersey,Newark,New Jersey,21111,Industrial Bank,"November 1, 2019",10534
14,Resolute Bank,Maumee,Ohio,58317,Buckeye State Bank,"October 25, 2019",10533
15,Louisa Community Bank,Louisa,Kentucky,58112,Kentucky Farmers Bank Corporation,"October 25, 2019",10532
16,The Enloe State Bank,Cooper,Texas,10716,"Legend Bank, N. A.","May 31, 2019",10531
17,Washington Federal Bank for Savings,Chicago,Illinois,30570,Royal Savings Bank,"December 15, 2017",10530
18,The Farmers and Merchants State Bank of Argonia,Argonia,Kansas,17719,Conway Bank,"October 13, 2017",10529
19,Fayette County Bank,Saint Elmo,Illinois,1802,"United Fidelity Bank, fsb","May 26, 2017",10528
20,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,Wisconsin,30003,First-Citizens Bank & Trust Company,"May 5, 2017",10527
21,First NBC Bank,New Orleans,Louisiana,58302,Whitney Bank,"April 28, 2017",10526
22,Proficio Bank,Cottonwood Heights,Utah,35495,Cache Valley Bank,"March 3, 2017",10525
23,Seaway Bank and Trust Company,Chicago,Illinois,19328,State Bank of Texas,"January 27, 2017",10524
24,Harvest Community Bank,Pennsville,New Jersey,34951,First-Citizens Bank & Trust Company,"January 13, 2017",10523

In [ ]:
import requests
import pandas as pd
import time

contest_id = 2178
base_url = "https://codeforces.com/api/contest.standings"

all_records = []

start = 1
batch_size = 500 

while True:
    params = {
        "contestId": contest_id,
        "from": start,
        "count": batch_size
    }

    response = requests.get(base_url, params=params).json()

    if response["status"] != "OK":
        break

    rows = response["result"]["rows"]
    if not rows:   # no more data
        break

    for r in rows:
        all_records.append({
            "rank": r["rank"],
            "handle": r["party"]["members"][0]["handle"],
            "points": r["points"],
            "penalty": r["penalty"]
        })

    start += batch_size
    time.sleep(0.5)

df = pd.DataFrame(all_records)
df.head()

   rank              handle   points  penalty
0     1             jiangly  17199.0        0
1     2                Benq  16921.0        0
2     3         Kevin114514  16491.0        0
3     4  VivaciousAubergine  15946.0        0
4     5           ecnerwala  15880.0        0

In [28]:
df.to_csv("rankings.csv")

In [38]:
import csv

handle = "princerxj"
def get_rank(csv_path, handle):
    with open(csv_path, newline='', encoding='utf-8') as file :
        reader = csv.DictReader(file)
        for row in reader :
            if row["handle"].lower() == handle.lower():
                return int(row["rank"])
    return None

rank = get_rank("rankings.csv", handle)
print(f"{handle} got a rank of {rank} in CF Contest 2178")

princerxj got a rank of 5201 in CF Contest 2178

In [41]:
url = "https://en.wikipedia.org/wiki/Mobile_country_code"

pd.read_html(url, match="Country", header = 0)

HTTPError: HTTP Error 403: Forbidden

In [44]:
df_excel = pd.read_excel('Data.xlsx')

In [45]:
df_excel

    Name  Age
0   John   35
1  Krish   32
2   Jack   45

In [46]:
df_excel.to_pickle('df_excel')

In [47]:
pd.read_pickle('df_excel')

    Name  Age
0   John   35
1  Krish   32
2   Jack   45